/* remove special touch styles */
* {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select: none;

	padding: 0; margin: 0; border: 0;
}

.grypt-host {
	display: block;
}

.grypt-host input.letterInputs {
	width: 15px;
	height: 20px;
	text-align: center;
	background: transparent;
}

.grypt-host span.overline {
	width: 15px;
	text-align: center;
}

.grypt-host div {
	float: left;
}

.grypt-host div.letter_div {
	margin: 5px 5px;
	text-align: center;
	transition: margin 2s;
}

/*
Uncomment this for a weird motion effect when hovering over the letters :)
.grypt-host div.letter_div:hover {
	margin: 5px 0px;
	transition: margin 2s;
	
	width: 15px;
	height: 20px;
	text-align: center;
}
*/

.marginLess {
	margin: 5px 0px;
	transition: margin 2s;
	
	width: 15px;
	height: 20px;
	text-align: center;
}

.grypt-host div.word_div {
	margin: 20px;
}

.grypt-host {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}

.grypt-host button {
	padding: 4px;
	border: 1px solid #aaa;
	margin: 0 10px;
	box-shadow: 3px 3px 5px 0px #888;
}

.grypt-host button:active{
	position: relative;
	top: 2px;
	left: 2px;
	box-shadow: 0 0;
}

/* Clearfix hack */
.grypt-host:after {
	content: "";
	display: table;
	clear: both;
}

.grypt-host .combined {
	margin : 0px;
	-webkit-transition: margin 5s;
	transition: margin 5s;
}

@media all and (min-width: 800px)
{
	.grypt-host {
		width: 800px;
		height: 100%;
		margin: 0 auto;
	}
}

@media all and (max-width: 350px)
{
	.grypt-host .word_div {
		margin: 3px 20px;
	}
}